# **COVID 19 PROJECT**

Importing libraries

In [327]:
import pandas as pd #Used for data manipulation and analysis
import numpy as np #Numpy is the core library for scientific computing in Python. It is used for working with arrays and matrices.
import matplotlib.pyplot as plt #It’s plotting library, and we are going to use it for data visualization
import seaborn as sns #It’s a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics

Importing data set

In [329]:
df = pd.read_csv('/content/owid-covid-data.csv')

## Understanding about dataset and defining project's scope

In [330]:
df.shape

(156546, 67)

In [331]:
# Print the first five records of the data
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2/24/2020,5.00,5.00,NaN,NaN,NaN,NaN,0.13,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,"39,835,428.00",54.42,18.60,2.58,1.34,"1,803.99",NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,5.00,0.00,NaN,NaN,NaN,NaN,0.13,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,"39,835,428.00",54.42,18.60,2.58,1.34,"1,803.99",NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,5.00,0.00,NaN,NaN,NaN,NaN,0.13,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,"39,835,428.00",54.42,18.60,2.58,1.34,"1,803.99",NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,5.00,0.00,NaN,NaN,NaN,NaN,0.13,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,"39,835,428.00",54.42,18.60,2.58,1.34,"1,803.99",NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,5.00,0.00,NaN,NaN,NaN,NaN,0.13,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,"39,835,428.00",54.42,18.60,2.58,1.34,"1,803.99",NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN,NaN,NaN,NaN

In [332]:
# Displaying Dataframe Structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156546 entries, 0 to 156545
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    156546 non-null  object
 1   continent                                   147136 non-null  object
 2   location                                    156546 non-null  object
 3   date                                        156546 non-null  object
 4   total_cases                                 153714 non-null  float64
 5   new_cases                                   153650 non-null  float64
 6   new_cases_smoothed                          152499 non-null  float64
 7   total_deaths                                136289 non-null  float64
 8   new_deaths                                  136451 non-null  float64
 9   new_deaths_smoothed                         136319 non-null  float64
 10  total_cases_per_million                     152998 non-null  float64
 11  new_cases_per_million                       152934 non-null  float64
 12  new_cases_smoothed_per_million              151788 non-null  float64
 13  total_deaths_per_million                    135586 non-null  float64
 14  new_deaths_per_million                      135748 non-null  float64
 15  new_deaths_smoothed_per_million             135616 non-null  float64
 16  reproduction_rate                           117930 non-null  float64
 17  icu_patients                                21292 non-null   float64
 18  icu_patients_per_million                    21292 non-null   float64
 19  hosp_patients                               22515 non-null   float64
 20  hosp_patients_per_million                   22515 non-null   float64
 21  weekly_icu_admissions                       4356 non-null    float64
 22  weekly_icu_admissions_per_million           4356 non-null    float64
 23  weekly_hosp_admissions                      8807 non-null    float64
 24  weekly_hosp_admissions_per_million          8807 non-null    float64
 25  new_tests                                   62205 non-null   float64
 26  total_tests                                 63816 non-null   float64
 27  total_tests_per_thousand                    63816 non-null   float64
 28  new_tests_per_thousand                      62205 non-null   float64
 29  new_tests_smoothed                          77829 non-null   float64
 30  new_tests_smoothed_per_thousand             77115 non-null   float64
 31  positive_rate                               72800 non-null   float64
 32  tests_per_case                              72080 non-null   float64
 33  tests_units                                 79592 non-null   object
 34  total_vaccinations                          41065 non-null   float64
 35  people_vaccinated                           39129 non-null   float64
 36  people_fully_vaccinated                     36208 non-null   float64
 37  total_boosters                              13731 non-null   float64
 38  new_vaccinations                            34133 non-null   float64
 39  new_vaccinations_smoothed                   75083 non-null   float64
 40  total_vaccinations_per_hundred              41065 non-null   float64
 41  people_vaccinated_per_hundred               39129 non-null   float64
 42  people_fully_vaccinated_per_hundred         36208 non-null   float64
 43  total_boosters_per_hundred                  13731 non-null   float64
 44  new_vaccinations_smoothed_per_million       75083 non-null   float64
 45  new_people_vaccinated_smoothed              74049 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  74049 non-null   float64
 47  stringency_index                            122425 non-null  float64
 48  population                                  155513 non-null  float64
 49  population_density                          139354 non-null  float64
 50  median_age                                  129887 non-null  float64
 51  aged_65_older                               128477 non-null  float64
 52  aged_70_older                               129190 non-null  float64
 53  gdp_per_capita                              130476 non-null  float64
 54  extreme_poverty                             86001 non-null   float64
 55  cardiovasc_death_rate                       128876 non-null  float64
 56  diabetes_prevalence                         135627 non-null  float64
 57  female_smokers                              99954 non-null   float64
 58  male_smokers                                98518 non-null   float64
 59  handwashing_facilities                      64552 non-null   float64
 60  hospital_beds_per_thousand                  116560 non-null  float64
 61  life_expectancy                             146118 non-null  float64
 62  human_development_index                     128351 non-null  float64
 63  excess_mortality_cumulative_absolute        5338 non-null    float64
 64  excess_mortality_cumulative                 5338 non-null    float64
 65  excess_mortality                            5338 non-null    float64
 66  excess_mortality_cumulative_per_million     5338 non-null    float64
dtypes: float64(62), object(5)
memory usage: 80.0+ MB

In [333]:
pd.set_option('display.max_row', None)
pd.set_option('display.max_column', None)

In [334]:
# decsribing the stats for numerical attributes
df.describe().round(0).T

,count,mean,std,min,25%,50%,75%,max
total_cases,"153,714.00","2,222,006.00","13,200,489.00",1.00,"1,674.00","21,998.00","266,867.00","349,134,552.00"
new_cases,"153,650.00","9,576.00","66,857.00","-74,347.00",1.00,73.00,964.00,"4,232,499.00"
new_cases_smoothed,"152,499.00","9,349.00","61,938.00","-6,223.00",6.00,97.00,"1,014.00","3,271,378.00"
total_deaths,"136,289.00","54,066.00","283,933.00",1.00,71.00,705.00,"6,681.00","5,591,704.00"
new_deaths,"136,451.00",170.00,829.00,"-1,918.00",0.00,2.00,19.00,"18,061.00"
new_deaths_smoothed,"136,319.00",169.00,809.00,-232.00,0.00,2.00,20.00,"14,705.00"
total_cases_per_million,"152,998.00","24,630.00","40,468.00",0.00,539.00,"4,166.00","32,425.00","426,933.00"
new_cases_per_million,"152,934.00",127.00,506.00,"-3,126.00",0.00,10.00,91.00,"51,427.00"
new_cases_smoothed_per_million,"151,788.00",122.00,353.00,-273.00,1.00,17.00,104.00,"11,827.00"
total_deaths_per_million,"135,586.00",471.00,738.00,0.00,16.00,110.00,642.00,"6,119.00"
new_deaths_per_million,"135,748.00",2.00,5.00,-76.00,0.00,0.00,1.00,454.00
new_deaths_smoothed_per_million,"135,616.00",2.00,4.00,-11.00,0.00,0.00,2.00,144.00
reproduction_rate,"117,930.00",1.00,0.00,-0.00,1.00,1.00,1.00,6.00
icu_patients,"21,292.00",901.00,"2,700.00",0.00,26.00,140.00,582.00,"28,891.00"
icu_patients_per_million,"21,292.00",23.00,27.00,0.00,4.00,13.00,35.00,177.00
hosp_patients,"22,515.00","4,005.00","11,421.00",0.00,113.00,582.00,"2,528.00","154,306.00"
hosp_patients_per_million,"22,515.00",157.00,207.00,0.00,23.00,73.00,204.00,"1,544.00"
weekly_icu_admissions,"4,356.00",492.00,649.00,0.00,43.00,246.00,682.00,"4,838.00"
weekly_icu_admissions_per_million,"4,356.00",18.00,21.00,0.00,4.00,12.00,24.00,221.00
weekly_hosp_admissions,"8,807.00","6,298.00","15,171.00",0.00,267.00,"1,364.00","5,806.00","154,577.00"
weekly_hosp_admissions_per_million,"8,807.00",98.00,108.00,0.00,20.00,66.00,134.00,646.00
new_tests,"62,205.00","63,287.00","210,477.00",1.00,"2,404.00","8,808.00","35,709.00","3,740,296.00"
total_tests,"63,816.00","15,250,824.00","58,643,167.00",0.00,"333,526.00","1,693,808.00","7,445,407.00","755,435,887.00"
total_tests_per_thousand,"63,816.00",617.00,"1,456.00",0.00,30.00,155.00,605.00,"24,096.00"
new_tests_per_thousand,"62,205.00",3.00,7.00,0.00,0.00,1.00,3.00,534.00
new_tests_smoothed,"77,829.00","78,807.00","326,512.00",0.00,"2,325.00","8,513.00","35,601.00","7,089,899.00"
new_tests_smoothed_per_thousand,"77,115.00",3.00,6.00,0.00,0.00,1.00,3.00,148.00
positive_rate,"72,800.00",0.00,0.00,0.00,0.00,0.00,0.00,1.00
tests_per_case,"72,080.00",243.00,"4,415.00",1.00,8.00,19.00,59.00,"422,066.00"
total_vaccinations,"41,065.00","147,941,788.00","677,326,672.00",0.00,"507,469.00","4,078,145.00","24,803,998.00","9,868,220,556.00"
people_vaccinated,"39,129.00","77,687,774.00","359,509,685.00",0.00,"348,548.00","2,568,752.00","14,698,191.00","4,763,861,004.00"
people_fully_vaccinated,"36,208.00","58,281,582.00","283,343,929.00",1.00,"233,092.00","1,831,694.00","10,690,639.00","4,091,460,341.00"
total_boosters,"13,731.00","10,827,152.00","51,802,170.00",1.00,207.00,"179,206.00","2,537,761.00","912,576,842.00"
new_vaccinations,"34,133.00","1,139,106.00","4,272,975.00",0.00,"6,676.00","41,050.00","267,550.00","59,066,781.00"
new_vaccinations_smoothed,"75,083.00","531,840.00","2,869,823.00",0.00,"1,090.00","9,592.00","66,040.00","43,020,678.00"
total_vaccinations_per_hundred,"41,065.00",65.00,59.00,0.00,10.00,50.00,112.00,328.00
people_vaccinated_per_hundred,"39,129.00",35.00,28.00,0.00,7.00,32.00,61.00,123.00
people_fully_vaccinated_per_hundred,"36,208.00",29.00,27.00,0.00,4.00,22.00,54.00,121.00
total_boosters_per_hundred,"13,731.00",8.00,13.00,0.00,0.00,1.00,10.00,84.00
new_vaccinations_smoothed_per_million,"75,083.00","3,416.00","4,037.00",0.00,665.00,"2,272.00","4,945.00","117,497.00"
new_people_vaccinated_smoothed,"74,049.00","252,145.00","2,295,292.00",0.00,493.00,"4,268.00","29,436.00","100,595,753.00"
new_people_vaccinated_smoothed_per_hundred,"74,049.00",0.00,0.00,0.00,0.00,0.00,0.00,12.00
stringency_index,"122,425.00",55.00,21.00,0.00,41.00,56.00,71.00,100.00
population,"155,513.00","148,100,306.00","707,153,430.00",47.00,"1,172,369.00","8,715,494.00","33,933,611.00","7,874,965,730.00"
population_density,"139,354.00",465.00,"2,147.00",0.00,36.00,85.00,213.00,"20,547.00"
median_age,"129,887.00",31.00,9.00,15.00,22.00,30.00,39.00,48.00
aged_65_older,"128,477.00",9.00,6.00,1.00,4.00,7.00,14.00,27.00
aged_70_older,"129,190.00",6.00,4.00,1.00,2.00,4.00,9.00,18.00
gdp_per_capita,"130,476.00","19,669.00","20,655.00",661.00,"4,467.00","12,952.00","27,937.00","116,936.00"
extreme_poverty,"86,001.00",14.00,20.00,0.00,1.00,2.00,21.00,78.00
cardiovasc_death_rate,"128,876.00",260.00,120.00,79.00,169.00,243.00,330.00,724.00
diabetes_prevalence,"135,627.00",8.00,4.00,1.00,5.00,7.00,10.00,31.00
female_smokers,"99,954.00",11.00,11.00,0.00,2.00,6.00,19.00,44.00
male_smokers,"98,518.00",33.00,14.00,8.00,22.00,31.00,41.00,78.00
handwashing_facilities,"64,552.00",51.00,32.00,1.00,19.00,50.00,83.00,100.00
hospital_beds_per_thousand,"116,560.00",3.00,2.00,0.00,1.00,2.00,4.00,14.00
life_expectancy,"146,118.00",74.00,7.00,53.00,70.00,75.00,79.00,87.00
human_development_index,"128,351.00",1.00,0.00,0.00,1.00,1.00,1.00,1.00
excess_mortality_cumulative_absolute,"5,338.00","34,965.00","99,550.00","-37,726.00",-113.00,"2,794.00","21,965.00","1,080,315.00"
excess_mortality_cumulative,"5,338.00",9.00,16.00,-28.00,-1.00,6.00,14.00,111.00
excess_mortality,"5,338.00",16.00,31.00,-96.00,-1.00,7.00,23.00,374.00
excess_mortality_cumulative_per_million,"5,338.00",875.00,"1,326.00","-1,827.00",-43.00,408.00,"1,496.00","8,328.00"

In [335]:
# There are total 67 attributes, but this analysis project cannot cover all these attributes. We will select 10 out of 67 for analysis
data = df.loc[:,['continent', 'location', 'date', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'icu_patients', 'people_fully_vaccinated','population']]

In [336]:
data.shape

(156546, 10)

## Data Cleaning

In [337]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156546 entries, 0 to 156545
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   continent                147136 non-null  object
 1   location                 156546 non-null  object
 2   date                     156546 non-null  object
 3   total_cases              153714 non-null  float64
 4   new_cases                153650 non-null  float64
 5   total_deaths             136289 non-null  float64
 6   new_deaths               136451 non-null  float64
 7   icu_patients             21292 non-null   float64
 8   people_fully_vaccinated  36208 non-null   float64
 9   population               155513 non-null  float64
dtypes: float64(7), object(3)
memory usage: 11.9+ MB

In [338]:
# convert 'date' from object to datetime for better visualization
data['date'] = pd.to_datetime(data['date'])

In [339]:
data.dtypes

continent                          object
location                           object
date                       datetime64[ns]
total_cases                       float64
new_cases                         float64
total_deaths                      float64
new_deaths                        float64
icu_patients                      float64
people_fully_vaccinated           float64
population                        float64
dtype: object

In [340]:
print('Continent:', data.continent.unique())
print('Number of continent:', data.continent.nunique())

Continent: ['Asia' nan 'Europe' 'Africa' 'North America' 'South America' 'Oceania']
Number of continent: 6

In [341]:
# look at 'location' attribute
print('Location:', data.location.unique())
print('Number of location:', data.location.nunique())

Location: ['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Curacao' 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Europe' 'European Union' 'Faeroe Islands' 'Falkland Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala'
 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'High income'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'International' 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Low income'
 'Lower middle income' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North America' 'North Macedonia'
 'Northern Cyprus' 'Norway' 'Oceania' 'Oman' 'Pakistan' 'Palau'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Pitcairn' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South America' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tokelau' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'Upper middle income' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican'
 'Venezuela' 'Vietnam' 'Wallis and Futuna' 'World' 'Yemen' 'Zambia'
 'Zimbabwe']
Number of location: 238

In [342]:
# check 'location' attribute when 'continent' is null
print('Location when continent is null:', data[data.continent.isna()].location.unique())

Location when continent is null: ['Africa' 'Asia' 'Europe' 'European Union' 'High income' 'International'
 'Low income' 'Lower middle income' 'North America' 'Oceania'
 'South America' 'Upper middle income' 'World']

When 'continent' is null, 'location' don't show countries but shows continents and some other groups. This can be considered as duplicate values. In this project, we will calculate some ratios on country base. Therefore, I decided to remove all records when 'continent' is null to keep 'location' only contains countries.

In [343]:
data = data.dropna(subset=['continent'], axis = 0)

In [344]:
# check 'location' attribute after removing records with 'continent' null values
print('Updated Location:', data.location.unique())
print('Number of updated location:', data.location.nunique())

Updated Location: ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Curacao' 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala' 'Guernsey'
 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North Macedonia' 'Northern Cyprus' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Pitcairn' 'Poland' 'Portugal' 'Qatar'
 'Romania' 'Russia' 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor'
 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam'
 'Wallis and Futuna' 'Yemen' 'Zambia' 'Zimbabwe']
Number of updated location: 225

In [345]:
# Now 'location' only contains countries, so we will change attribute name from 'location' to 'country'
data.rename(columns = {'location':'country'}, inplace = True)

In [346]:
data.country.value_counts()

Peru                                753
Mexico                              753
Argentina                           753
Thailand                            750
Taiwan                              738
Japan                               732
China                               732
South Korea                         732
United States                       732
Macao                               732
Vietnam                             731
Hong Kong                           731
Singapore                           731
Malaysia                            730
France                              730
Nepal                               729
Canada                              728
Australia                           728
Cambodia                            727
Germany                             727
Sri Lanka                           727
Finland                             725
United Arab Emirates                725
Philippines                         724
Fiji                                724
India                               724
United Kingdom                      723
Italy                               723
Russia                              723
Spain                               722
Sweden                              722
Slovenia                            721
Denmark                             721
Estonia                             720
Belgium                             719
Morocco                             716
South Africa                        716
Egypt                               709
Guatemala                           706
Iran                                704
Israel                              703
Lebanon                             702
Greece                              700
Chile                               700
Iraq                                699
Kuwait                              699
Luxembourg                          699
Afghanistan                         699
Oman                                699
Bahrain                             699
Croatia                             698
Norway                              698
Algeria                             698
Albania                             698
Austria                             698
Switzerland                         698
Pakistan                            698
Romania                             697
Latvia                              697
Brazil                              697
Georgia                             697
North Macedonia                     697
Serbia                              697
Netherlands                         696
Iceland                             696
Senegal                             695
Nigeria                             695
New Zealand                         695
Belarus                             695
Qatar                               694
Ireland                             694
San Marino                          694
Monaco                              694
Lithuania                           694
Ecuador                             693
Azerbaijan                          693
Portugal                            693
Czechia                             693
Armenia                             693
Dominican Republic                  693
Andorra                             692
Indonesia                           692
Saudi Arabia                        692
Ukraine                             691
Hungary                             691
Bangladesh                          691
Jordan                              691
Poland                              690
Liechtenstein                       690
Libya                               690
Tunisia                             690
Gibraltar                           690
Faeroe Islands                      690
Togo                                690
Bosnia and Herzegovina              689
Palestine                           689
Malta                               689
Kenya                               688
Colombia                            688
Cameroon                            688
Slovakia                            688
Costa Rica                          688
Vatican                             688
Bhutan                              688
Paraguay                            687
Moldova                             686
Maldives                            686
Cyprus                              686
Bulgaria                            686
Brunei                              685
Panama                              685
Burkina Faso                        684
Mongolia                            684
Democratic Republic of Congo        683
Jamaica                             683
Cote d'Ivoire                       683
Turkey                              683
Honduras                            683
Bolivia                             683
Cuba                                682
Guyana                              682
Guinea                              681
Antigua and Barbuda                 681
Uruguay                             681
Aruba                               681
Sudan                               681
Kazakhstan                          681
Ethiopia                            681
French Polynesia                    681
Cayman Islands                      681
Rwanda                              680
Saint Vincent and the Grenadines    680
Curacao                             680
Eswatini                            680
Venezuela                           680
Trinidad and Tobago                 680
Gabon                               680
Namibia                             680
Ghana                               680
Saint Lucia                         680
Suriname                            680
Mauritania                          680
Kosovo                              680
Seychelles                          679
Equatorial Guinea                   679
Uzbekistan                          679
Congo                               679
Central African Republic            679
Greenland                           678
Bahamas                             678
Tanzania                            678
Somalia                             678
Benin                               678
Barbados                            677
Liberia                             677
Gambia                              677
Montenegro                          677
Djibouti                            676
Montserrat                          676
Mauritius                           676
Kyrgyzstan                          676
Zambia                              676
Chad                                675
Bermuda                             675
El Salvador                         675
New Caledonia                       675
Nicaragua                           675
Zimbabwe                            674
Haiti                               674
Papua New Guinea                    674
Isle of Man                         674
Niger                               674
Madagascar                          674
Cape Verde                          674
Angola                              674
Uganda                              673
Eritrea                             673
Dominica                            672
Timor                               672
Syria                               672
Mozambique                          672
Grenada                             672
Belize                              671
Laos                                670
Mali                                669
Guinea-Bissau                       669
Saint Kitts and Nevis               669
Myanmar                             667
Anguilla                            666
Turks and Caicos Islands            666
British Virgin Islands              666
Malawi                              665
Botswana                            664
Burundi                             663
Sierra Leone                        663
Bonaire Sint Eustatius and Saba     661
Falkland Islands                    659
South Sudan                         658
Saint Pierre and Miquelon           658
Sao Tome and Principe               657
Yemen                               653
Comoros                             633
Tajikistan                          632
Lesotho                             620
Saint Helena                        503
Solomon Islands                     468
Wallis and Futuna                   461
Marshall Islands                    452
Vanuatu                             439
Samoa                               431
Micronesia (country)                367
Guernsey                            359
Northern Cyprus                     317
Jersey                              309
Nauru                               286
Tonga                               278
Sint Maarten (Dutch part)           253
Kiribati                            250
Cook Islands                        247
Turkmenistan                        183
Tuvalu                              179
Palau                               154
Tokelau                             114
Pitcairn                             85
Niue                                 43
Name: country, dtype: int64

In [347]:
# check how many records left for further analysis
data.shape

(147136, 10)

**Find out what countries missing population data**

In [348]:
# The data of 'population' has to be available for further analysis, because we will calculate ratios based on population of each country. First find out what countries missing 'population' value
print('Country with null population:', data[data.population.isna()].country.unique())

Country with null population: ['Northern Cyprus']

In [349]:
# let check population input for all records belongs to 'Northern Cyprus'
data.groupby('country')['population'].get_group('Northern Cyprus').sum()

0.0

In [350]:
#Check other attributes when 'country' is 'Northern Cyprus'
data[data.country.str.contains('Northern Cyprus')].isna().sum()

continent                    0
country                      0
date                         0
total_cases                317
new_cases                  317
total_deaths               317
new_deaths                 317
icu_patients               317
people_fully_vaccinated    294
population                 317
dtype: int64

In [351]:
# Most of records belonging to 'Northern Cyprus' is null, we will remove all records of 'Northern Cyprus'
data = data[data.country != 'Northern Cyprus']
data.shape

(146819, 10)

In [352]:
# Check how many countries left for further analysis
print('Number of countries:', data.country.nunique())

Number of countries: 224

**Deal with null values (NA)**

In [353]:
#Check missing values
data.isna().sum().sort_values(ascending=False)

icu_patients               125527
people_fully_vaccinated    115141
new_deaths                  19765
total_deaths                19727
new_cases                    2579
total_cases                  2508
continent                       0
country                         0
date                            0
population                      0
dtype: int64

For cumulative data: 'total_cases', 'total_deaths', 'people_fully_vaccinated', 'icu_patients'

In [354]:
# Fill NA by ffill() function ('forward fill'), then we will fill the rest by 0
# Null values will be replaced by it’s previous value in the column, if there is no previous value, NA will be replaced by 0
data[['total_cases', 'total_deaths','people_fully_vaccinated','icu_patients']] = data.groupby('country')[['total_cases', 'total_deaths','people_fully_vaccinated','icu_patients']].fillna(method='ffill').fillna(0)

For non-cumulative data: 'new_cases', 'new_deaths'

In [355]:
# Fill NA by the difference between 2 records then fill the rest by 0
data.new_cases = data.groupby('country').new_cases.fillna(data.groupby('country').total_cases.diff(periods=1)).fillna(0)
data.new_deaths = data.groupby('country').new_deaths.fillna(data.groupby('country').total_deaths.diff(periods=1)).fillna(0)

In [356]:
# check data set after dealing with NA
data.isna().sum().sum()

0

In [357]:
data.head()

,continent,country,date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,people_fully_vaccinated,population
0,Asia,Afghanistan,2020-02-24,5.00,5.00,0.00,0.00,0.00,0.00,"39,835,428.00"
1,Asia,Afghanistan,2020-02-25,5.00,0.00,0.00,0.00,0.00,0.00,"39,835,428.00"
2,Asia,Afghanistan,2020-02-26,5.00,0.00,0.00,0.00,0.00,0.00,"39,835,428.00"
3,Asia,Afghanistan,2020-02-27,5.00,0.00,0.00,0.00,0.00,0.00,"39,835,428.00"
4,Asia,Afghanistan,2020-02-28,5.00,0.00,0.00,0.00,0.00,0.00,"39,835,428.00"

In [358]:
# check duplicates 
data.duplicated().sum()

0

In [359]:
numeric = []
category = []
for col in data:
  if pd.api.types.is_numeric_dtype(data[col]):
    numeric.append(col)
  else:
    category.append(col)
print("category :",category)

category : ['continent', 'country', 'date']

In [360]:
# Export clean data to csv file
data.to_csv(r'C:\Users\emily\OneDrive - St. Clair College\Desktop\St Clair\semester 4\DAB 402 - Capstone Projects\Capstone project\Covid_clean_data.csv', index = False, header=True)

Now we have done data cleaning part, let's move to Exploratory data analysis part.